<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DotSpatial.SDR.Plugins.Search.Properties.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DotSpatial.SDR.Plugins.Search.Properties.UserSettings>
            <setting name="SearchMode" serializeAs="String">
                <value>Address</value>
            </setting>
            <setting name="AddressIndexColumnOrder" serializeAs="String">
                <value />
            </setting>
            <setting name="RoadIndexColumnOrder" serializeAs="String">
                <value />
            </setting>
            <setting name="KeyLocationIndexColumnOrder" serializeAs="String">
                <value />
            </setting>
            <setting name="CellSectorIndexColumnOrder" serializeAs="String">
                <value />
            </setting>
            <setting name="ParcelIndexColumnOrder" serializeAs="String">
                <value />
            </setting>
            <setting name="AllIndexColumnOrder" serializeAs="String">
                <value />
            </setting>
        </DotSpatial.SDR.Plugins.Search.Properties.UserSettings>
    </userSettings>
</configuration>