<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DotSpatial.SDR.Plugins.ALI.Properties.EnterpolAvlConfig" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="DotSpatial.SDR.Plugins.ALI.Properties.SdrAliServerConfig" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="DotSpatial.SDR.Plugins.ALI.Properties.GlobalCadConfig" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="DotSpatial.SDR.Plugins.ALI.Properties.AliInterfaceModes" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DotSpatial.SDR.Plugins.ALI.Properties.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DotSpatial.SDR.Plugins.ALI.Properties.EnterpolAvlConfig>
            <setting name="UnitDisplayQuery" serializeAs="String">
                <value>UnitName, UnitVehicleNumber</value>
            </setting>
        </DotSpatial.SDR.Plugins.ALI.Properties.EnterpolAvlConfig>
        <DotSpatial.SDR.Plugins.ALI.Properties.SdrAliServerConfig>
            <setting name="TableName" serializeAs="String">
                <value>IncomingALI</value>
            </setting>
        </DotSpatial.SDR.Plugins.ALI.Properties.SdrAliServerConfig>
        <DotSpatial.SDR.Plugins.ALI.Properties.GlobalCadConfig>
            <setting name="IniKeyLookup" serializeAs="String">
                <value>Parser Config</value>
            </setting>
        </DotSpatial.SDR.Plugins.ALI.Properties.GlobalCadConfig>
        <DotSpatial.SDR.Plugins.ALI.Properties.AliInterfaceModes>
            <setting name="Disabled" serializeAs="String">
                <value>Disabled</value>
            </setting>
            <setting name="Sdraliserver" serializeAs="String">
                <value>SDR AliServer</value>
            </setting>
            <setting name="Globalcad" serializeAs="String">
                <value>GlobalCAD Log</value>
            </setting>
            <setting name="Enterpol" serializeAs="String">
                <value>Enterpol Database</value>
            </setting>
        </DotSpatial.SDR.Plugins.ALI.Properties.AliInterfaceModes>
    </applicationSettings>
    <userSettings>
        <DotSpatial.SDR.Plugins.ALI.Properties.UserSettings>
            <setting name="ActiveGlobalCadCommLog" serializeAs="String">
                <value />
            </setting>
            <setting name="SdrAliServerDgvSortOrder" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>CallTime</string>
                        <string>Phone</string>
                        <string>Address</string>
                        <string>Street</string>
                        <string>ServiceClass</string>
                        <string>Customer</string>
                        <string>CallDate</string>
                        <string>City</string>
                        <string>State</string>
                        <string>Sector</string>
                        <string>X</string>
                        <string>Y</string>
                        <string>Uncertainty</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="EnterpolDgvSortOrder" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>CallDate</string>
                        <string>CallTime</string>
                        <string>Phone</string>
                        <string>Address</string>
                        <string>Street</string>
                        <string>City</string>
                        <string>State</string>
                        <string>Customer</string>
                        <string>ServiceClass</string>
                        <string>X</string>
                        <string>Y</string>
                    </ArrayOfString>
                </value>
            </setting>
        </DotSpatial.SDR.Plugins.ALI.Properties.UserSettings>
    </userSettings>
</configuration>