[Parser Config]
TimeLine=4
TimeStart=18
TimeLength=14
PhoneLine=4
PhoneStart=1
PhoneLength=14
HouseNumberLine=5
HouseNumberStart=1
HouseNumberLength=8
StreetPrefixLine=5
; indicates the position starting from the end of the line
StreetPrefixStartDelta=2
StreetPrefixLength=2
StreetLine=6
StreetStart=1
StreetLength=49
ClassOfServiceLine=6
ClassOfServiceStart=60
ClassOfServiceLength=4
XLine=11
XStart=13
XLength=11
YLine=11
YStart=1
YLength=11
UNCLine=11
UNCStart=25
UNCLength=7
CityLine=7
CityStart=1
CityLength=28
StateLine=7
StateStart=30
StateLength=2
AlphaLine=1
AlphaStart=1
AlphaLength=0