<?xml version="1.0"?>
<configuration>

    <!-- <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <dependentAssembly>
          <assemblyIdentity name="NetTopologySuite" publicKeyToken="f580a05016ebada1" culture="neutral"/>
          <bindingRedirect oldVersion="0.0.0.0-1.13.2.0" newVersion="1.13.2.0"/>
        </dependentAssembly>
      </assemblyBinding>
    </runtime> -->

<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Go2It.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><applicationSettings>
        <Go2It.Properties.Settings>
            <setting name="ApplicationMode" serializeAs="String">
                <value>1</value>
            </setting>
        </Go2It.Properties.Settings>
    </applicationSettings>
</configuration>
