<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SDR.Configuration.Properties.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SDR.Configuration.Properties.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SDR.Configuration.Properties.ProjectSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SDR.Configuration.Properties.UserSettings>
            <setting name="GridHeaderColumnCount" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="AddressIndexColumnOrder" serializeAs="String">
                <value />
            </setting>
            <setting name="RoadIndexColumnOrder" serializeAs="String">
                <value />
            </setting>
            <setting name="ActiveFunctionMode" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="ActiveFunctionPanel" serializeAs="String">
                <value>kPanel_Measure</value>
            </setting>
        </SDR.Configuration.Properties.UserSettings>
        <SDR.Configuration.Properties.AppSettings>
            <setting name="RecentProjectFiles" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
        </SDR.Configuration.Properties.AppSettings>
        <SDR.Configuration.Properties.ProjectSettings>
            <setting name="AddressesLayers" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="RoadsLayers" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="KeyLocationsLayers" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="NotesLayer" serializeAs="String">
                <value />
            </setting>
            <setting name="CityLimitsLayer" serializeAs="String">
                <value />
            </setting>
            <setting name="CellSectorsLayer" serializeAs="String">
                <value />
            </setting>
            <setting name="EsnsLayer" serializeAs="String">
                <value />
            </setting>
            <setting name="ParcelsLayer" serializeAs="String">
                <value />
            </setting>
            <setting name="HydrantsLayer" serializeAs="String">
                <value />
            </setting>
            <setting name="AddressesProjectType" serializeAs="String">
                <value>POINT</value>
            </setting>
            <setting name="KeyLocationsProjectType" serializeAs="String">
                <value>POINT</value>
            </setting>
            <setting name="MapBgColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="DrivewaysLayer" serializeAs="String">
                <value />
            </setting>
            <setting name="ActiveMapViewKey" serializeAs="String">
                <value>kMap_MyMap</value>
            </setting>
            <setting name="ActiveMapViewCaption" serializeAs="String">
                <value>My Map</value>
            </setting>
            <setting name="GraphicPointColor" serializeAs="String">
                <value>LimeGreen</value>
            </setting>
            <setting name="GraphicPointStyle" serializeAs="String">
                <value>Triangle</value>
            </setting>
            <setting name="GraphicPointSize" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="GraphicLineColor" serializeAs="String">
                <value>Orange</value>
            </setting>
            <setting name="GraphicLineSize" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="GraphicLineBorderColor" serializeAs="String">
                <value>Orange</value>
            </setting>
            <setting name="GraphicLineCap" serializeAs="String">
                <value>Flat</value>
            </setting>
            <setting name="GraphicLineStyle" serializeAs="String">
                <value>Solid</value>
            </setting>
            <setting name="HydrantSearchCount" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="SearchUsePretypes" serializeAs="String">
                <value>False</value>
            </setting>
        </SDR.Configuration.Properties.ProjectSettings>
    </userSettings>
</configuration>