<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SDR.Configuration.Properties.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SDR.Configuration.Properties.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SDR.Configuration.Properties.ProjectSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SDR.Configuration.Properties.UserSettings>
            <setting name="GridHeaderColumnCount" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ActiveFunctionMode" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="ActiveFunctionPanel" serializeAs="String">
                <value>kPanel_Measure</value>
            </setting>
            <setting name="AdminModeActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ResponderUnitLocation" serializeAs="String">
                <value />
            </setting>
        </SDR.Configuration.Properties.UserSettings>
        <SDR.Configuration.Properties.AppSettings>
            <setting name="RecentProjectFiles" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
        </SDR.Configuration.Properties.AppSettings>
        <SDR.Configuration.Properties.ProjectSettings>
            <setting name="AddressesLayers" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="RoadsLayers" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="KeyLocationsLayers" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="NotesLayer" serializeAs="String">
                <value />
            </setting>
            <setting name="CityLimitsLayer" serializeAs="String">
                <value />
            </setting>
            <setting name="CellSectorsLayer" serializeAs="String">
                <value />
            </setting>
            <setting name="EsnsLayer" serializeAs="String">
                <value />
            </setting>
            <setting name="ParcelsLayer" serializeAs="String">
                <value />
            </setting>
            <setting name="HydrantsLayer" serializeAs="String">
                <value />
            </setting>
            <setting name="AddressesProjectType" serializeAs="String">
                <value>POINT</value>
            </setting>
            <setting name="KeyLocationsProjectType" serializeAs="String">
                <value>POINT</value>
            </setting>
            <setting name="MapBgColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ActiveMapViewKey" serializeAs="String">
                <value>kMap_MyMap</value>
            </setting>
            <setting name="ActiveMapViewCaption" serializeAs="String">
                <value>My Map</value>
            </setting>
            <setting name="GraphicPointColor" serializeAs="String">
                <value>LimeGreen</value>
            </setting>
            <setting name="GraphicPointStyle" serializeAs="String">
                <value>Triangle</value>
            </setting>
            <setting name="GraphicPointSize" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="GraphicLineColor" serializeAs="String">
                <value>Orange</value>
            </setting>
            <setting name="GraphicLineSize" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="GraphicLineBorderColor" serializeAs="String">
                <value>Orange</value>
            </setting>
            <setting name="GraphicLineCap" serializeAs="String">
                <value>Flat</value>
            </setting>
            <setting name="GraphicLineStyle" serializeAs="String">
                <value>Solid</value>
            </setting>
            <setting name="HydrantSearchCount" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="SearchUsePretypes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SearchZoomFactor" serializeAs="String">
                <value>0.05</value>
            </setting>
            <setting name="SearchBufferDistance" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="SearchQueryParserLogging" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HydrantSearchDistance" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="AliMode" serializeAs="String">
                <value>Disabled</value>
            </setting>
            <setting name="AliSdrServerDbPath" serializeAs="String">
                <value />
            </setting>
            <setting name="AliSdrServerUdpHost" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="AliSdrServerUdpPort" serializeAs="String">
                <value>777</value>
            </setting>
            <setting name="AliGlobalCadLogPath" serializeAs="String">
                <value />
            </setting>
            <setting name="AliEnterpolTableName" serializeAs="String">
                <value />
            </setting>
            <setting name="AliEnterpolDataSource" serializeAs="String">
                <value />
            </setting>
            <setting name="AliEnterpolInitialCatalog" serializeAs="String">
                <value>SDRCADInterface</value>
            </setting>
            <setting name="AliGlobalCadArchivePath" serializeAs="String">
                <value />
            </setting>
            <setting name="AliGlobalCadConfigPath" serializeAs="String">
                <value />
            </setting>
            <setting name="AliNetworkfleetUdpHost" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="AliNetworkfleetUdpPort" serializeAs="String">
                <value>1111</value>
            </setting>
            <setting name="AliUseNetworkfleet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AliNetworkfleetPointColor" serializeAs="String">
                <value>DarkTurquoise</value>
            </setting>
            <setting name="AliNetworkfleetPointFont" serializeAs="String">
                <value>ESRI Transportation &amp; Civic, 24pt</value>
            </setting>
            <setting name="AliNetworkfleetPointChar" serializeAs="String">
                <value>n</value>
            </setting>
            <setting name="AliUseEnterpolAVL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AliEnterpolAVLTableName" serializeAs="String">
                <value />
            </setting>
            <setting name="AliEnterpolAVLSetMyLocProc" serializeAs="String">
                <value>SDR_SetMyLocation</value>
            </setting>
            <setting name="AliEnterpolAVLWhoAmIProc" serializeAs="String">
                <value>SDR_WhoAmI</value>
            </setting>
            <setting name="AliEnterpolAVLUpdateFreq" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="AliEnterpolAVLAge1Freq" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="AliEnterpolAVLAge2Freq" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="AliEnterpolAVLAge3Freq" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="AliEnterpolAVLReadFreq" serializeAs="String">
                <value>50000</value>
            </setting>
            <setting name="AliEnterpolAVLSymbolFont" serializeAs="String">
                <value>ESRI Transportation &amp; Civic, 24pt</value>
            </setting>
            <setting name="AliEnterpolAVLLEChar" serializeAs="String">
                <value>j</value>
            </setting>
            <setting name="AliEnterpolAVLEMSChar" serializeAs="String">
                <value>d</value>
            </setting>
            <setting name="AliEnterpolAVLFDChar" serializeAs="String">
                <value>m</value>
            </setting>
            <setting name="AliEnterpolAVLLEColor" serializeAs="String">
                <value>Cyan</value>
            </setting>
            <setting name="AliEnterpolAVLEMSColor" serializeAs="String">
                <value>LimeGreen</value>
            </setting>
            <setting name="AliEnterpolAVLFDColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="AliEnterpolAVLInitialCatalog" serializeAs="String">
                <value>SDRActiveUnitsView</value>
            </setting>
            <setting name="AliAvlAutoHideInactiveUnits" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AliEnterpolAVLMyVehicleColor" serializeAs="String">
                <value>Fuchsia</value>
            </setting>
            <setting name="AliAVLInactiveColor" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="AliEnterpolAVLLabelFont" serializeAs="String">
                <value>Microsoft Sans Serif, 15.75pt</value>
            </setting>
            <setting name="AliEnterpolAVLLabelAlignment" serializeAs="String">
                <value>Above</value>
            </setting>
            <setting name="AliEnterpolAVLLabelXOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AliEnterpolAVLLabelYOffset" serializeAs="String">
                <value>25</value>
            </setting>
        </SDR.Configuration.Properties.ProjectSettings>
    </userSettings>
</configuration>